# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific data
**/xcuserdata/
*.xcuserstate

# Xcode build artifacts
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Misc
*.moved-aside
